/* Global/general styles
===================================================== */ 
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

* {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
	color: #FFF;
}

svg {
    overflow: visible !important;
    width: 100%;
    height: 100vh;
    position: absolute;
}

body {
    margin: 0;
}

/* Main elements
===================================================== */ 

.betanote {
	position: absolute;
    width: 85vw;
}

.wrapper {
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	position: absolute;
    overflow: hidden;
}

.hinter {
    text-align: center;
    color: #000;
    width: 100%;
}

#drawboard {
	position: absolute;
	top: 0;
	left: 0;
	width: 85vw;
	height: 100vh;
	display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20pt;
	touch-action: none;
}

.controls {
	
}

.controls > i {
	
}

.delete {
	background: url("../../img/delete.png");
}

.forward {
	background: url("../../img/forward.png");
}

.backward {
	background: url("../../img/backward.png");
}

/* Sidebar
===================================================== */ 
.sidebar {
	position: absolute;
    display: block;
    right: 0;
    top: 0;
    height: 100vh;
    width: 20vw;
    background: #f3e7e3;
}

.tab {
	height: 25px;
    width: 50%;
    position: relative;
    z-index: 100;
    top: 0;
    right: 0;
    display: flex;
    background: #2d2d2d;
    justify-content: center;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    float: left;
}

.button {
	height: 50px;
    width: 100%;
    position: relative;
    z-index: 100;
    top: 0;
    right: 0;
    display: flex;
    background: #2d2d2d;
    justify-content: center;
    align-items: center;
    padding: 5px;
    cursor: pointer;
	border-bottom: 1px solid #FFF;
}

.tabheader {
	width: 100%;
}

.svg-icon {
    width: 33%;
    padding: 5px;
}

.grid {
	display: none;
	overflow-y: scroll;
    width: 20vw;
	height: 80vh;
    height: -webkit-fill-available;
    width: -moz-available;
}

/* SVG-specific styles
===================================================== */ 

.selected {
	stroke: #333333 !important;
    stroke-dasharray: 0.2;
    stroke-width: 0.2;
	animation: 80s selectorStroke infinite;
}

.dragged {
	stroke: #626262 !important;
    stroke-dasharray: 0.2;
    stroke-width: 0.2;
	animation: 50s selectorStroke infinite;
}

@keyframes selectorStroke {
	from {stroke-dashoffset: 0%;}
	to {stroke-dashoffset: 100%};
}


/* Mobile styles
===================================================== */ 

@media only screen and (max-device-width: 768px) {
    .sidebar {
        bottom: unset;
        top: 0;
        height: 100vh;
        width: 25vw;
    }
}

@media only screen and (max-device-width: 414px) {
    .sidebar {
        bottom: -50px;
        top: unset;
        height: 15vh;
        width: 100vw;
    }
    
    .hinter {
        width: 100vw;
    }
    
    .betanote {
        width: 100vw;
        padding: 5px;
    }
    
    .wrapper {
        overflow: visible;
        overflow-x: hidden;
    }
    
    .grid {
        overflow-y: visible;
        width: 100vw;
        height: unset;
    }
    
    #drawboard {
        width: 100vw;
    }
}

